.container {
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;

  &::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(91.82% 80.58% at 50.13% 6.15%, #ffffff 0%, #e5e5e5 100%);
		mask-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0) 85%,
			rgba(9, 9, 9, 0.9290091036414566) 95%,
			rgba(0, 0, 0, 1) 100%
		);
		pointer-events: none;
	}

  .toTop {
    position: fixed;
    bottom: -10%;
    left: 83%;
    font-size: 1.5rem;
    padding: 10px 13px;
    border: none;
    border-radius: 100%;
    color: var(--white);
    background-color: var(--custom-black);
    transition: 500ms ease-in;

    .show {
      bottom: 5%;
    }
  }

  .return {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .arrow {
      font-size: 2rem;
      margin-right: 10px;
      transition: 200ms ease-in-out;
    }
    
    .text {
      text-decoration: underline;
    }
    
    &:hover .arrow {
      margin-right: 20px;
    }
  }

  .example-text {
    margin-top: 30px;
    text-align: center;
  }

  .container__button {
    margin-top: 30px;
    padding-top: 25px;
    border-top: 1px solid var(--custom-black);
  
    .button {
      display: block;
      width: 100%;
      margin-bottom: 45px;
      font-size: 42px;
      font-family: inherit;
      background-color: transparent;
      border: none;
      // text-align: start;
      cursor: pointer;
      transition: 200ms ease-in;

      &:hover {
        transform: scale(1.1);
      }

      &:active {
        transform: scale(0.8);
      }    
    }
}
}