:root {
  --custom-black: #313030;
  --disable-color: #E6F971;
  --warn-color: #FB4C4C;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  color: var(--custom-black)
}

a {
  text-decoration: none;
}