.btn-action {
	display: inline-block;
	padding: 20px 10px;
	font-family: inherit;
	font-size: 1.2rem;
	background: none;
	border: none;
	border-radius: 5px;
	// border-bottom: 1px solid var(--custom-black);
	box-sizing: border-box;
	cursor: pointer;
	transition: 200ms;

	&:active {
		transform: scale(0.9);
		background-color: #ccc;
	}

	&.profile {
		padding: 12px 19px;
		font-size: 0.8rem;
		border-radius: 10px;
		padding: 10px 15px;
		overflow: hidden;
		color: #fff;
		background-color: var(--custom-black);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	}

	&.warn {
		color: #fff;
		background-color: var(--warn-color);
		border-bottom-width: 3px;
	}

	&.small {
		font-size: 0.9rem;
		padding: 10px 5px;
	}
}
