.container {
  position: fixed;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 450px;
  transition: all 2s ease-in-out;

  .custom-content {
    width: 100%;
  }

  &.start {
    top: 46%
  }

  &.appointments {
    top: 3%
  }
}