.container {
	width: 100%;
	height: 100vh;
	max-width: 485px;
	padding-top: 60px;
	margin: 0 auto;
	box-sizing: border-box;

	h1 {
		text-align: center;
		margin-bottom: 15px;
	}

	p {
		width: 85%;
		text-align: center;
		margin: 0 auto;
		margin-bottom: 15px;

		&.number {
			margin-bottom: 50px;
		}
	}

	a {
		display: block;
		text-align: center;
		text-decoration: underline;
		width: 85%;
		margin: 0 auto;
		padding: 10px 0;
	}

	.btn-container {
		display: flex;
		justify-content: space-between;
		width: 85%;
		margin: 0 auto;
		margin-top: 150px;
	}

	.message {
		display: block;
		text-align: center;
	}

	.ImageContainer {
		position: relative;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 100%;
		transition: 100ms ease-in-out;
		margin-bottom: 10px;

		.fake--image {
			width: 150px;
			height: 150px;
			background-color: #ddd;
		}

		.container--changeImage {
			position: absolute;
			bottom: 0;
			left: 0;

			.title {
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				color: #fff;
				width: 150px;
				height: 27px;
				font-size: 1rem;
				text-align: center;
				background-color: var(--custom-black);
				pointer-events: none;
				cursor: pointer;
			}

			.changeImage {
				width: 150px;
				height: 150px;
				cursor: pointer;
				opacity: 0;
			}
		}
	}

	.image_options--upload {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 30px;
		border-bottom: 1px solid #000;

		.upload--title {
			text-align: center;
			margin-bottom: 10px;
		}

		.options {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.input--container {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 150px;
				height: 40px;
				background-color: var(--custom-black);
				border-radius: 10px;
				overflow: hidden;
				transition: 200ms ease-in;

				&:active {
					transform: scale(0.9);
				}

				.text {
					color: #fff;
					pointer-events: none;
					cursor: pointer;
				}

				input {
					position: absolute;
					top: 0%;
					left: 0%;
					width: 100%;
					height: 100%;
					opacity: 0;
					cursor: pointer;
				}
			}
		}
	}

	.options--container {
		display: flex;
		justify-content: space-between;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
}
